.wrapper {
  min-width: 600px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  mat-list-item {
    display: flex;
order: inherit;


    margin-bottom: 15px;
  }
}


